<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>

    <script>
	    var directiveApp = angular.module("directiveApp",[]);

	    // my directive == my-directive
	    directiveApp.directive("myDirective", function() {
	    	return {
	    		// replace: true,
	    		restrict: "EA",
	    		template: "<a target='_blank' href='{{myLink}}'>{{myText}}</a>",
	    		scope: {
	    			// myLink: "@myAttr",
	    			// myLink: "@", is public; with @myAttr is private, and in the attributes
	    			myLink: "@",
	    			myText: "@"
	    		},
	    		controller: function($scope) {
	    			// directive can have its own controller
	    			// $scope.someProperty = "whatever";
	    		}
	    	};
	    });
	    // restrict E as own element
	    // A Restrict as attribute <div my-directive></div>
	    // C as class
	    // M as comment

	    directiveApp.controller("TestingController",["$scope", function($scope) {
	    	$scope.clicked = function() {
	    		// alert("clicked");
	    		$scope.xxx = !$scope.xxx;
	    	};

	    	$scope.myName = "Allison";
	    	$scope.loading = true;
	    	$scope.status = true;
	    }]);
    </script>
    
    <link rel="stylesheet" href="css/main.css">

</head>
<body ng-app="directiveApp">

	<!-- Currently: Chrome plugin -->

	<div data-ng-bind="myName"></div>
	
	<input type="text" placeholder="Link" ng-model="link">
	<input type="text" placeholder="Text" ng-model="text">
	<!-- what is ng-bind? -->

	<div data-my-directive data-my-link="{{ link }}" data-my-text="{{ text }}"></div>


	
	<!-- Built-in directives

	ng-href:
	Clean: <a href="#"></a>
	Using angular: {{ url }}
	Bad: <a href="{{ url }}"></a>
	Good: <a ng-href="{{ url }}"></a>
	Better: <a data-ng-href="{{ url }}"

	ng-src:
	Clean: <img src="http://placekitten.com/100/100">
	Using angular: {{ img.url }}
	Bad: <img src="{{ img.url }}">
	Good: <img ng-src="{{ img.url }}">
	Better: <img data-ng-src="{{ img.url }}">

	ng-click
	ng-bind
	ng-show
	ng-hide

	ng-disable
	ng-check
	ng-readonly
	ng-selected

	ng-class
	ng-style
	ng-switch

	ng-switch
	 
	-->

	<div ng-controller="TestingController">
		<button data-ng-click="clicked();">Click me!</button>
		<div data-ng-show="xxx">This is hidden if X is false</div>
		<div data-ng-show="!xxx">This is showing if X is false</div>

		<div data-ng-hide="xxx">This is hidden if X is true!</div>
		<div data-ng-hide="!xxx">This is showing if X is true!</div>

		<div data-ng-bind="myName">{{ myName }}</div>
	</div>

	<div ng-switch data-on="status">
		<div data-ng-switch-when="loading">Loading</div>
		<div data-ng-switch-when="error">Error</div>
		<div data-ng-switch-default>Default</div>
	</div>
	
</body>
</html>