$sans: "Josefin Sans", sans-serif;
$serif: "Josefin Slab", serif;
$sans-thin: 100 "Josefin Sans", sans-serif;
$serif-thin: 300 "Josefin Slab", serif;
$sans-bold: 700 "Josefin Sans", sans-serif;
$serif-bold: 700 "Josefin Slab", serif;
$blk: #000;
$wt: #fff;
$light-gray: #bbb;
$gray: gray;
$dark-gray: #888;

@mixin sans-thin($size) {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 100;
	font-size: $size;
}

@mixin sans-bold($size) {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 700;
	font-size: $size;
}

@mixin serif-thin($size) {
	font-family: "Josefin Slab", serif;
	font-weight: 300;
	font-size: $size;
}

@mixin serif-bold($size) {
	font-family: "Josefin Slab", serif;
	font-weight: 700;
	font-size: $size;
}