/* _form.scss */

#ng-ctrl {
	max-width: 240px;
	display: block;
	margin: 30px auto;
	background: #eee;
}

.signup {
	text-align: center;

	label,
	input {
		display: block;
	}

	label {
		margin-top: 10px;
		/*font-size: 15px;*/
		@include sans-bold(16px);

		&:first-child {
			margin-top: 0;
		}
	}

	input {
		margin: 2px auto;
		border: 1px solid $dark-gray;
		padding: 10px 10px 6px;
		/*font-size: 16px;*/
		@include sans-thin(18px);
		width: 100%;
		/*font-family: serif;*/
	}
	.btn {
		margin: 10px auto 0;
		width: auto;
		padding: 10px 15px 6px;
		@include serif-bold(16px);
		color: $wt;
	}
}

form.signup .error {
	color: red;
	@include sans-bold(12px);
	text-align: left;
	margin: 3px 0 0 2px;
}

@media screen and (max-width: 768px) {
	#ng-ctrl {
		padding: 10px;
	}
}
@media screen and (min-width: 769px) {
	#ng-ctrl {
		padding: 20px 25px;
	}
}