* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Cloud';
  src: url("../fonts/Cloud.eot?-74wfcj");
  src: url("../fonts/Cloud.eot?#iefix-74wfcj") format("embedded-opentype"), url("../fonts/Cloud.woff?-74wfcj") format("woff"), url("../fonts/Cloud.ttf?-74wfcj") format("truetype"), url("../fonts/Cloud.svg?-74wfcj#Cloud") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Cloud';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\e600"; }

.icon-profile:before {
  content: "\e601"; }

.icon-contact:before {
  content: "\e602"; }

.icon-twitter:before {
  content: "\e603"; }

.icon-twitter-square:before {
  content: "\e604"; }

.icon-linkedin:before {
  content: "\e605"; }

.icon-infinity:before {
  content: "\e606"; }

.icon-close:before {
  content: "\e609"; }

.icon-menu:before {
  content: "\e607"; }

.icon-cloud:before {
  content: "\e608"; }

/* _header.scss */
header {
  height: 80px;
  background: #000;
  width: 100%; }
  header ul, header li {
    margin: 0;
    padding: 0;
    display: flex; }
  header ul {
    height: 100%;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around; }
  header li {
    list-style-type: none; }
    header li a {
      transition: color .2s ease-out; }
  header li.current-page {
    font-weight: bold; }

/* _form.scss */
#ng-ctrl {
  max-width: 240px;
  display: block;
  margin: 30px auto;
  background: #eee; }

.signup {
  text-align: center; }
  .signup label,
  .signup input {
    display: block; }
  .signup label {
    margin-top: 10px;
    /*font-size: 15px;*/
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 16px; }
    .signup label:first-child {
      margin-top: 0; }
  .signup input {
    margin: 2px auto;
    border: 1px solid #888888;
    padding: 10px 10px 6px;
    /*font-size: 16px;*/
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    font-size: 18px;
    width: 100%;
    /*font-family: serif;*/ }
  .signup .btn {
    margin: 10px auto 0;
    width: auto;
    padding: 10px 15px 6px;
    font-family: "Josefin Slab", serif;
    font-weight: 700;
    font-size: 16px;
    color: white; }

form.signup .error {
  color: red;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  margin: 3px 0 0 2px; }

@media screen and (max-width: 768px) {
  #ng-ctrl {
    padding: 10px; } }
@media screen and (min-width: 769px) {
  #ng-ctrl {
    padding: 20px 25px; } }
/* _global.scss */
html, body {
  margin: 0;
  padding: 0;
  background: #888888;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 16px;
  text-align: center; }

/* typography */
header li, header a {
  text-decoration: none; }
header li {
  color: white;
  font-family: "Josefin Slab", serif;
  font-weight: 300;
  font-size: 19px; }
  header li a {
    color: #bbbbbb; }
    header li a:hover {
      color: white; }
    header li a[href="#"] {
      color: #bbbbbb; }

button.btn {
  border-radius: 0;
  padding: 10px 15px 8px;
  border: 1px solid black;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: color .2s ease-out, background .2s ease-out, border .2s ease-out; }
  button.btn:hover {
    background: black;
    color: #ddd;
    border-color: #ddd; }

ul {
  list-style-type: none; }
  ul li {
    float: left;
    margin: 1px 1px 0 0;
    list-style-type: noen; }
